*{
    margin: 0;
    padding: 0;
}


.h12{
    text-align: center;
    padding-top: 30px;
    color: rgb(25, 0, 250);
}

.card{
    margin: 0 auto;
    max-width: 500;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0
    transition: 0.2s;
    font-size: 0;
    height: 650;
    padding: 20 0 0 0;
}

.card:hover{
    box-shadow: 0 16px 32px 0;
}

.heading_style{

    color: green;
    font-size: 100px;
}

#para_style{
    color: gray;
}


.calc-body{

    color: green;
    font-size: 12px;
}

.calc-head
{

}

.calc-head #result{
    width: 410px;
    height: 100px;
    font-size: 20;
    font-weight: bolder;
    text-align:center;
    padding: 0 10px;
    letter-spacing: 2px;
    border-color: rgb(255, 0, 242);
    border-width: 10px;
    margin-bottom: 5px;
}
.calcbtn{
    width: 100px;
    height: 100px;
    border-spacing: 0px;
    font-size: 30px;
    background: rgb(128, 56, 122);
    color: white;
    transition: 0.3s;
}
.calcbtn-style{
    background-color: rgb(0, 68, 255);
}
.calcbtn-style2{
    background-color: rgb(252, 102, 202);
}

.calcbtn:hover{
    background-color: blue;
}
.second-page{
    background-image:url(../images/cal.jpg);
    background-position: center;
}